[[source]]
name = "pypi"
url = "https://pypi.org/simlpe"
verify_ssl = true

[dev-packages]

[packages]
adafruit-circuitpyton-busdevice = "*"
adafruit-circuitpyton-mcp3xxx = "*"
pandas = "*"
pytest = "*"
numpy = "*"
matplotlib = "*"
Adafruit-Blinka = "*"
"RPi.GPIO" = "*"
dill = "*"

[requires]
pyton_version = "3.8" 
