helium>=3.0.0
numpy
scipy
tqdm
docopt
PyYAML
bs4
requests
rich
black
build
flake8
pytest
pytest-clarity
pytest-cov
twine
opencv-python-headless
tqdm
imageio
mesa-libGL
mesa-dri-drivers
xorg-x11-server-Xvfb
